{% extends "html/base.html" %}

{% block the_body %}
<div >
	<B>To reset your password fill in the following fields</B>
	<BR><BR>
	{% for mesg in error_messeg %}
        <H3 class="errorH3"> {{ mesg }} </H3>
	{% endfor %}
	<form action='/processreset' method='POST'>
		<fieldset>
			<div>
				<label for="user-id">User-id:</label>
				<input id='user-id' name='user-id' type="text" placeholder="User-id">
			</div>
			<div>
				<label for="email">Email:</label>
				<input id='email' name='email' type="text" placeholder="Email">
			</div>
			<div>
				<label for="code">Reset Code:</label>
				<input id='code' name='code' type="text" placeholder="Reset Code">
			</div>
			<div>
				<label for="passwd">New Password* :</label>
				<input id='passwd' name='passwd' type="password" placeholder="Password">
			</div>
			<div>
				<label for="passwd2">Repeat New Password:</label>
				<input id='passwd2' name='passwd2' type="password" placeholder="Repeat Password">
			</div>
		</fieldset>
		<input type='submit' value='Reset'>

		<a href="/register">Login Page</a> 
		<BR><BR>
		<a href="/register">Register Today!</a> 
	</form>
<font size="2" color="gray">
<p>
*Your password must be at least 5 characters long.
It cannot be an english word.
It must contain at least 2 numbers or/and wild characters.
Your Password cannot be the same as your username!
By the way, it's not encrypted in any way so anyone can steal it very easily:)
</p>
</font>
</div>
{% endblock %}
