{% extends "html/base.html" %}

{% block the_body %}

<B>Retrieve Password</B>

<BR><BR>
Your password will be sent to your email address.
<BR><BR>
<form action='/procesRetrieval' method='POST'>
	{% for mesg in error_messeg %}
        <H3 class="errorH3"> {{ mesg }} </H3>
	{% endfor %}
	<fieldset>
		<div>
			<label for="user-id">User-id:</label>
			<input id='user-id' type='text' name='user-id' placeholder='User-id'>
		</div>
		<div>
			<label for="userEmail">Email Address:</label>
			<input id='userEmail' type='text' name='userEmail' placeholder='Email Address'>
		</div>
		<div>
			<input type='submit' value='Reset Password'>
		</div>
	</fieldset>
	<BR><BR>
	<a href="/">Back To Login Page!</a> 
</form>


{% endblock %}
